python-dotenv==0.21.1 # .env files to prevent credential leaks during testing
colorama==0.4.6 # https://pypi.org/project/colorama/ - This allows for colorful print messages

mailslurp-client==15.16.22 # https://www.mailslurp.com/ - This is for sending test emails in email_service

mysql-connector-python==8.0.32 # MySQL Database connector

nltk==3.8.1 # This is for language processing in password_analysis
git+https://github.com/casics/nostril.git # This is for language processing in password_analysis - ver @fbc0c91249283a9fbc9036206391ce1138826fd3

Flask==2.2.3
Flask-Login==0.6.2