{% extends 'base.html.jinja' %}

{% block content %}
	<h1>404 - Page Not Found</h1>
	<p>The page you are looking for is not found.</p>
	<p>If you think this is a mistake, contant your admin.</p>
{% endblock %}